*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display:table;
    clear: both;
}


.top-header{
    width: 100%;
    height: 70px;
    background-color: #3161e0;
    color: white;
    line-height: 70px;
    vertical-align: middle;
}
.logo{
    position: relative;
    top: 15px;

}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.float-left{
    float: left;
}

.width-20{
    width: 20%;
}
.width-60{
    width: 60%;
}

nav ul li{
    display: inline-block;
    margin: 0px 10px;
    
}
a{
    text-decoration: none;
    color:white;
}


a:hover{
    text-decoration: underline;
}


.btn{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

.btn a{
    color: black;
}

.bottom-header{
    height: 450px;
    background-image: url("img/jumbo.png");
    background-size: cover;
    position: relative;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.header-text h1{
    font-size: 65px;
    margin-bottom: 30px;
}

.header-text p{
    font-size: 25px;
    margin-bottom: 30px;
}

.header-text .btn{
    margin: 30px;
    font-size: 20px;
}

.btn-black{
    background-color: black;
}

.btn-black a{
    color: white;
}

.section-container{
    width: 80%;
    height: 850px;
    margin: auto;
    margin-top: 10%;   
}

.section-text{
    width: 25%;
    padding-top: 40px;
}

.section-img{
    width: 75%;
}
.section-text h2{
    font-size: 45px;
    margin-bottom: 40px;
}

.section-text p{
    font-size: 25px;
}








